<h2>The Big Four</h2>
<div class="{{unless team.po "red "}}circle PO">{{get-user team.po}} <p>Product Owner</p></div>
<div class="{{unless team.hd "red "}}circle HD">{{get-user team.hd}} <p>Design</p></div>
<div class="{{unless team.hfe "red "}}circle HFE">{{get-user team.hfe}}<p>Front-End</p></div>
<div class="{{unless team.hbe "red "}}circle HBE">{{get-user team.hbe}}<p>Back-End</p></div>
