<div class="{{windowSize}}">
  <div class="chat-top-bar">
    {{#unless openChat}}
      <div class="chat-small"  {{action 'toggle'}}>
        Open Chat
      </div>
    {{else}}
      Cees Herpdiederpston
      <div class="clickables">
        <i class="material-icons">expand_more</i>
        <i class="material-icons">more_vert</i>
        <i class="material-icons" {{action 'toggle'}}>close</i>
      </div>
    {{/unless}}
  </div>
  {{#if openChat}}
    <div class="chat-window-content">
      {{#if contentChat}}
        <div class="chat-conversation">
        </div>
        {{chat/chat-textfield sendMessage=(action 'sendMessage')}}
      {{else}}

      {{/if}}
    </div>
  {{/if}}
</div>
