
{{#fbf-nav type="default" title="BEPStore" logo=false primaryButton="drawer" as |section|}}
  {{#if section.isContent}}
  <div class="fbf-layout__content-header">
    {{fbf-image src="assets/images/bep_header.png"}}
  </div>
  <div class="fbf-layout__horizontal-center-flex">
    <div class="fbf-layout__content-container fbf-layout__content--over-header">
      {{#fbf-tab-bar theme="semitransparent"}}
        {{#fbf-tab-bar-item 'index.mygoals'}}
          <i class="material-icons">person_pin_circle</i>
          Your Goals
        {{/fbf-tab-bar-item}}
        {{#fbf-tab-bar-item 'index.trending'}}
          <i class="material-icons">trending_up</i>
          Trending
        {{/fbf-tab-bar-item}}
        {{#fbf-tab-bar-item 'index.newgoals'}}
          <i class="material-icons">new_releases</i>
          New
        {{/fbf-tab-bar-item}}
      {{/fbf-tab-bar}}
      {{outlet}}
    </div>
  </div>
  {{else if section.isDrawer}}
    {{nav/nav-bar}}
  {{/if}}
{{/fbf-nav}}
{{add-button model=model}}
